@use '../../styles//abstracts/index' as *;

.background {
    @include transition(all, 0.8s);
    position: fixed;
    inset: 0;
    z-index: -1;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-position-x: right;
    width: 100dvw;
}