/* Josh's Custom CSS Reset - https://www.joshwcomeau.com/css/custom-css-reset/ */
@use './abstracts/index' as *;

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  @include font($fs-base);
  @include flex(column, center, start);
  color: $grey-20;
  background: $primary-90;
  width: 100dvw;
  height: 100dvh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

main {
  @include flex(column, center, start);
  height: 100%;
  width: 100%;
  max-width: 1400px;
  padding-top: 2rem;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  @include font($fs-base, $fw-semibold);
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

button {
  @include font($fs-base, $fw-semibold);
  @include transition();
  cursor: pointer;
  padding: 0.45rem 0.7rem;
  border-radius: 0.5rem;
}