@use '../../styles/abstracts/index' as *;


.fadeBG{
    position: absolute;
    inset: 0;
    z-index: -2;
    width: 100%;
    // width: 100dvw;
    // background-size: contain;
    // background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}