@use '../styles/abstracts/index' as *;


.contactPageContainer{
    @include flex(column, center, start);
    width: 100%;
}

.heroSection{
    @include flex(column, center, start);
    gap: 3rem;
    width: 100%;
    padding: 4rem 0;
    color: $primary-90;

    p{
        text-align: center
    }
}

.heroHeading{
    @include font(3rem, $fw-semibold, 1.2);
    color: $primary-90;
    text-align: center;  
}


// BENTO GRID ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
.contactBentoGrid{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 120px);
    gap: 2rem;
    width: 100%;
}

.firstCard{
    grid-column: span 2; 
    grid-row: span 1; 
    padding: 1rem;
    border-radius: 1rem;
    overflow: hidden;
    //-----------------------
    @include flex();

    background: linear-gradient(
        to top,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.25)
    );

    @include glass();
}
  
.secondCard{
    grid-column: span 4; 
    grid-row: span 5; 
    border-radius: 1rem;
    overflow: hidden;
    //-----------------------
    @include flex();

    background: linear-gradient(
        to top,
        rgba(130, 147, 201, 0.3),
        rgba(130, 147, 201, 0.3),
        rgba(130, 147, 201, 0.8)
    );

    @include glass();
}
  
.thirdCard{
    grid-column: span 2; 
    grid-row: span 2; 
    padding: 1rem;
    border-radius: 1rem;
    overflow: hidden;
    //-----------------------

    background: linear-gradient(
        to top,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.25)
    );

    @include glass();

    @include transition();
    cursor: pointer;
    &:hover{
        transform: scale(1.05);
        filter: brightness(1.3);
    }
}
  
.fourthCard{
    background-color: grey;
    grid-column: span 2; 
    padding: 1rem;
    grid-row: span 2; 
    border-radius: 1rem;
    overflow: hidden;
    //-----------------------
    @include flex(row, center, center);
    flex-wrap: wrap;
    gap: 1.5rem;

    background: linear-gradient(
        to top,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.25)
    );

    @include glass();
}
// END OF BENTO GRID ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++


.iconContainer{
  @include flex(row, center, end);
  width: 100%;
}
.emailText{
  width: 100%;
  text-align: center;
  color: $primary-90;
  background-color: $grey-20;
  padding: 1rem 0;
  border-radius: 0.5rem;
  font-size: $fs-md;
  z-index: 1;
}

.contactIconContainer{
    @include transition();
    &:hover{
        transform: scale(1.1);
        filter: brightness(1.3);
    }
}