@use '../styles/abstracts/index' as *;


.contactPageContainer{
    @include flex(column, center, start);
    width: 100%;

    @include respond(laptop){
        padding: 0 1rem;
    }

    @include respond(mobile){
        padding: 0;
    }
}

.heroSection{
    @include flex(column, center, start);
    gap: 3rem;
    width: 100%;
    padding: 4rem 0;
    color: $primary-90;

    p{
        text-align: center;
        max-width: 90%;

        @include respond(mobile){
            font-size: $fs-sm;
        }
    }
}

.heroHeading{
    @include font(3rem, $fw-semibold, 1.2);
    color: $primary-90;
    text-align: center;  

    @include respond(mobile){
        font-size: $fs-2xl;
    }
}


// BENTO GRID ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
.contactBentoGrid{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 120px);
    gap: 2rem;
    width: 100%;

    @include respond(tablet){
        grid-template-rows: repeat(5, 120px);
        gap: 1rem;
    }

    @include respond(mobile){
        grid-template-rows: repeat(10, 100px);
    }
}

.firstCard{
    grid-column: span 2; 
    grid-row: span 1; 
    padding: 1rem;
    border-radius: 1rem;
    overflow: hidden;
    //-----------------------
    @include flex();

    background: linear-gradient(
        to top,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.25)
    );

    @include glass();

    @include respond(mobile){
        grid-column: span 6; 
        grid-row: span 1;
    }
}
  
.secondCard{
    grid-column: span 4; 
    grid-row: span 5; 
    border-radius: 1rem;
    overflow: hidden;
    //-----------------------
    @include flex();

    background: linear-gradient(
        to top,
        rgba(130, 147, 201, 0.3),
        rgba(130, 147, 201, 0.3),
        rgba(130, 147, 201, 0.8)
    );

    @include glass();

    @include respond(mobile){
        grid-column: span 6; 
        grid-row: span 5;
    }
}
  
.thirdCard{
    grid-column: span 2; 
    grid-row: span 2; 
    padding: 1rem;
    border-radius: 1rem;
    overflow: hidden;
    //-----------------------

    background: linear-gradient(
        to top,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.25)
    );

    @include glass();

    @include transition();

    cursor: pointer;
    &:hover{
        transform: scale(1.05);
        filter: brightness(1.3);
    }
    @media(hover: none){
        &:hover{
          transform: scale(1);
          filter: brightness(1);
        }
    }

    @include respond(mobile){
        grid-column: span 6; 
        grid-row: span 2;
    }
}
  
.fourthCard{
    background-color: grey;
    grid-column: span 2; 
    padding: 1rem;
    grid-row: span 2; 
    border-radius: 1rem;
    overflow: hidden;
    //-----------------------
    @include flex(row, center, center);
    flex-wrap: wrap;
    gap: 1.5rem;

    background: linear-gradient(
        to top,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.25)
    );

    @include glass();

    @include respond(mobile){
        grid-column: span 6; 
        grid-row: span 2;
    }
}
// END OF BENTO GRID ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++


.contactIconContainer{
    @include transition();

    &:hover{
        transform: scale(1.1);
        filter: brightness(1.3);
    }
    @media(hover: none){
        &:hover{
          transform: scale(1);
          filter: brightness(1);
        }
    }

    img{
        width: auto;
        object-fit: cover;
    
        @include respond(laptop){
          height: 5rem;
        }
    }
}