@use '../../styles/abstracts/index' as *;


.footer{
    @include flex(row, center, start);
    border-top: 2px solid $primary-10;
    width: 100%;
    margin-top: 4rem;
    padding: 1.5rem 0;

    @include respond(tablet){
        @include flex(column, center, center);
    }
}

.footerHomeLink{
    @include flex();
    @include transition(padding);
    background-color: $primary-10;
    border-radius: 0.75rem;
    padding: 1.5rem 0;
    height: 8rem;
    width: 30%;

    &:hover{
        padding: 1.25rem 0;
    }

    @media(hover: none){
        &:hover{
            padding: 1.5rem 0;
        }
    }

    @include respond(tablet){
        width: 100%;
        margin-bottom: 1rem;
    }

    @include respond(tablet){
        height: 7rem;
    }
}

.footerLogo{
    object-fit: contain;
    height: auto;
    width: 80%;
    max-width: 200px;
}

.footerContactInfo{
    @include flex(row);
    height: 8rem;
    width: 70%;
    border-radius: 0.75rem;
    border: 1px solid $primary-70;
    margin-left: 1rem;
    padding: 0.5rem 0.75rem;

    span{
        @include font($fs-2xl, $fw-semibold, 1.2);
        color: $primary-70;
        margin: 0 1.5rem;

        @include respond(laptop){
            font-size: $fs-xl;
            margin: 0 1rem;
        }

        @include respond(tablet){
            // margin: 0 0.25rem;
            margin: 0;
            flex: 1;
            text-align: center;
        }

        @include respond(mobile){
            display: none;
        }
    }

    @include respond(tablet){
        height: 7rem;
        width: 100%;
        margin-left: 0;
    }

    @include respond(mobile){
        height: 6rem;
    }
}

.contactItems{
    @include flex(row, center, space-between);
    height: 90%;
    width: 100%;
    margin-left: 1rem;

    @include respond(tablet){
        // margin-left: 0;
        max-width: 400px;
    }

    @include respond(mobile){
        margin-left: 0;
    }
}

.contactIconContainer{
    @include flex();
    @include transition(background-color);
    height: 100%;
    width: 30%;
    background-color: $primary-70;
    cursor: pointer;
    border-radius: 0.5rem;

    &:hover{
        background-color: $primary-30;
    }

    @media(hover: none){
        &:hover{
            background-color: $primary-70;
        }
    }

    @include respond(tablet){
        img{
            width: 55px;
        }
    }
}