@use '../../styles/abstracts/index' as *;

.categoryNav{
    @include flex(row, center, space-between);
    @include transition();
    width: 100%;
    margin: 2rem 0;
}

.categoryLink{
    @include flex();
    @include transition();
    text-decoration: none;
    width: 100%;
    color: $primary-50;
    border-bottom: 1px solid $primary-50;
    padding: 0.5rem 0;

    h2{
        @include font($fs-md);
    }

    &:hover {
        background-color: $primary-70;
        border-bottom: 1px solid $primary-70;
        color: $primary-90;
    }
}

.categoryLinkActive{
    @extend .categoryLink;
    border-bottom: 1px solid $primary-10;
    background-color: $primary-10;
    color: $primary-90;
    pointer-events: none;

    h2{
        font-weight: $fw-semibold;
    }
}