@use '../../styles/abstracts/index' as *;

.categoryNav{
    @include flex(row, end, space-between);
    width: 100%;
    height: 3.5rem;
    padding: 0 1rem;

    @include respond(tablet){
        display: none;
    }
}

.categoryLink{
    @include flex();
    @include transition();
    text-decoration: none;
    height: 100%;
    color: $grey-60;

    h2{
        font-size: 1.5rem;

        @include respond(laptop){
            font-size: 1.3rem;
        }
    }


    &:hover {
        transform: translateY(-5px) scale(1.2);
    }

    @media(hover: none){
        &:hover {
            transform: translateY(0) scale(1);
        }
    }
}

.categoryLinkActive{
    @include flex();
    @include transition();
    text-decoration: none;
    height: 100%;
    transform: translateY(-5px) scale(1.2);
    color: $primary-90;
    pointer-events: none;

    h2{
        @include font(1.5rem, $fw-semibold);
    }
}

.mobileCategoryNav{
    display: none;
    @include transition();
    width: 100%;
    height: 3.5rem;
    color: $primary-90;
    padding: 0 0.5rem;
    border-bottom: 1px solid $primary-90;
    cursor: pointer;
    position: relative;

    img{
        @include transition();
        transform: rotate(0);
    }

    &.open{
        padding: 0.75rem 2rem;

        img{
            transform: rotate(-180deg)
        }
    }

    @include respond(tablet){
        @include flex(row, center, space-between);
    }
}

.activeCategoryTitle{
    @include font($fs-lg, $fw-semibold);
}

.mobileCategoryDropdown{
    @include transition();
    @include glass();
    position: absolute;
    top: 4.25rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: rgba(20, 20, 20, 0.7);
    height: 0;
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0px 1px 10px 0px;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    z-index: 2;

    .categoryLink{
        @include transition(opacity 0.35s);
        align-items: start;
        padding: 1.5rem 2rem;
        margin-bottom: 1rem;
        border: none;
        opacity: 0;
    }

    .categoryLinkActive{
        @include transition(opacity 0.35s);
        transform: translateY(0) scale(1);
        align-items: start;
        padding: 1.5rem 2rem;
        margin-bottom: 1rem;
        opacity: 0;
    }


    &.open {
        box-shadow: 0px 1px 10px 0px $primary-10;
        height: fit-content;
        visibility: visible;
        opacity: 1;
        pointer-events: auto;

        .categoryLink{
            opacity: 1;
        }

        .categoryLinkActive{
            opacity: 1;
        }
    }
}