@use '../styles/abstracts/index' as *;


.aboutPageContainer{
    @include flex(column, center, start);
    width: 100%;
    
    @include respond(laptop){
        padding: 0 1rem;
    }

    @include respond(mobile){
        padding: 0;
    }
}

.heroSection{
    @include flex(column, center, start);
    gap: 3rem;
    width: 100%;
    padding: 4rem 0;
    color: $primary-90;

    p{
        text-align: center;
        max-width: 90%;

        @include respond(mobile){
            font-size: $fs-sm;
        }
    }
}

.heroHeading{
    @include font(3rem, $fw-semibold, 1.2);
    color: $primary-90;
    text-align: center;  

    @include respond(mobile){
        font-size: $fs-2xl;
    }
}

// BENTO GRID ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
.aboutBentoGrid{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8, 172px);
    gap: 2rem;
    width: 100%;

    @include respond(tablet){
        grid-template-rows: repeat(8, 150px);
        gap: 1rem;
    }

    @include respond(mobile){
        grid-template-rows: repeat(14, 150px);
    }
}

.firstCard{
    grid-column: span 3; 
    grid-row: span 3; 
    border-radius: 1rem;
    overflow: hidden;
    //-----------------------

    @include respond(mobile){
        grid-column: span 6; 
        grid-row: span 3;
    }
}
  
.secondCard{
    grid-column: span 3; 
    grid-row: span 1; 
    padding: 1.5rem;
    border-radius: 1rem;
    overflow: hidden;
    //----------------------
    color: $primary-90;
    @include flex(row);
    gap: 5rem;

    background: linear-gradient(
        to top,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.25)
    );

    @include glass();

    @include respond(laptop){
        gap: 3rem;
    }

    @include respond(tablet){
        gap: 2rem;
    }

    @include respond(mobile){
        grid-column: span 6; 
        grid-row: span 1;
    }
}
  
.thirdCard{
    grid-column: span 3; 
    grid-row: span 2; 
    padding: 1.5rem;
    border-radius: 1rem;
    overflow: hidden;
    //----------------------
    @include flex();

    background: linear-gradient(
        to top,
        rgba(235, 238, 255, 0.5),
        rgba(235, 238, 255, 0.5),
        rgba(235, 238, 255, 0.7)
    );

    @include glass();

    @include respond(mobile){
        grid-column: span 6; 
        grid-row: span 2;
    }
}
  
.fourthCard{
    grid-column: span 2; 
    grid-row: span 3; 
    padding: 1.5rem;
    border-radius: 1rem;
    overflow: hidden;
    //----------------------
    color: $primary-90;
    @include flex(column, start, space-between);
    position: relative;

    background: linear-gradient(
        to top,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.25)
    );

    @include glass();

    @include respond(laptop){
        padding: 3rem 1.5rem;
    }

    @include respond(tablet){
        padding: 1.5rem 0.5rem;
    }

    @include respond(mobile){
        grid-column: span 6; 
        grid-row: span 3;
        padding: 1.5rem;
    }
}
  
.fifthCard{
    grid-column: span 4; 
    grid-row: span 3; 
    padding: 1.5rem;
    border-radius: 1rem;
    overflow: hidden;
    //-----------------------
    @include flex(column, center, center);
    color: $primary-90;

    background: linear-gradient(
        to top,
        rgba(130, 147, 201, 0.3),
        rgba(130, 147, 201, 0.3),
        rgba(130, 147, 201, 0.5)
    );

    @include glass();

    p{
        max-width: 450px;
    }

    @include respond(tablet){
        p{
            font-size: $fs-sm;
        }
    }

    @include respond(mobile){
        grid-column: span 6; 
        grid-row: span 3;
    }
}
  
.sixthCard{
    grid-column: span 6; 
    grid-row: span 2; 
    padding: 1.5rem;
    border-radius: 1rem;
    overflow: hidden;
    //----------------------
    position: relative;
    @include flex(row);
    flex-wrap: wrap;
    column-gap: 2rem;

    background: linear-gradient(
        to top,
        rgba(235, 238, 255, 0.5),
        rgba(235, 238, 255, 0.5),
        rgba(235, 238, 255, 0.7)
    );

    @include glass();
}
// END OF BENTO GRID ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++


.myPhoto{
    height: 100%;
    object-fit: cover;
    // object-position: top;
}

.logosContainer{
    @include flex(row);
    flex-wrap: wrap;
    gap: 2rem;

    @include respond(tablet){
        gap: 1.5rem;
    }
}
.toolLogo{
    height: 40px;
    width: auto;
    object-fit: cover;
    z-index: 2;

    @include respond(tablet){
        height: 35px;
    }
}

.brandLogo{
    height: 50px;
    width: auto;
    object-fit: cover;
    z-index: 2;

    @include respond(laptop){
        height: 45px;
    }

    @include respond(tablet){
        height: 35px;
    }

    @include respond(mobile){
        height: 25px;
    }
}
.textBg{
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: auto;
    object-fit: cover;
    z-index: 1;

    // background-color: red;
    @include respond(mobile){
        height: 4.5rem;
    }
}

.statContainer{
    @include flex();

    p{
        &:first-child{
            @include font(4.7rem, $fw-semibold, 1.1);
            color: rgba(255, 255, 255, 0.3);
            text-shadow: 0 10px 20px rgba(0, 0, 0, 0.75);

            @include respond(laptop){
                font-size: 3.7rem;
            }

            @include respond(tablet){
                font-size: 2.7rem;
            }
        }

        &:last-child{
            max-width: 100px;

            @include respond(tablet){
                font-size: $fs-sm;
                text-align: center;
            }
        }
    }
}

.roleLine{
    position: absolute;
    height: 100%;
    left: 2rem;
    top: 0;
    bottom: 0;
    width: 2px;
    z-index: -1;

    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(255, 255, 255, 0.2) 50%,
      rgba(255, 255, 255, 0.1) 100%
    );

    @include respond(tablet){
        left: 1rem;
    }

    @include respond(mobile){
        left: 2rem;
    }
}
.roleContainer{
    @include flex(row);
    width: 100%;
    // background-color: red;
}
.roleDot{
    height: 20px;
    width: 20px;
    border-radius: 4rem;
    // margin-right: 2rem;
    background-color: $primary-90;
}

.roleContent{
    @include flex(column, start, center);
    // background-color: blue;
    width: 100%;
    padding-left: 1rem;

    h4{
        font-size: $fs-md;
    }
    p{
        color: $grey-80;
    }

    @include respond(laptop){
        h4{
            font-size: $fs-base;
        }
        p{
            font-size: $fs-sm;
        }
    }

    @include respond(tablet){
        h4{
            font-size: $fs-sm;
        }
    }

    @include respond(mobile){
        h4{
            font-size: $fs-base;
        }
    }
}