@use './styles/abstracts/index' as *;

.heroHeading{
  @include font($fs-3xl, $fw-semibold);
  color: $primary-90;
  text-align: center;
  margin-bottom: 20px;
}

.heroBody{
  color: $primary-90;
  text-align: center;
  max-width: 700px;
}