@use './styles/abstracts/index' as *;

.heroHeading{
  @include font($fs-3xl, $fw-semibold);
  color: $primary-90;
  text-align: center;
}

.heroBody{
  color: $primary-90;
  text-align: center;
  max-width: 700px;
  margin: 1.5rem 0;
}

.buttonGroup {
  @include flex(row, center, space-between);
  width: 320px;

  button {
    width: 150px;

    &:first-child {
      @include button-variant(light, filled);
    }

    &:last-child {
      @include button-variant(light, outline);
    }
  }
}