@use './styles/abstracts/index' as *;

.heroHeading{
  @include font($fs-3xl, $fw-semibold);
  color: $primary-90;
  text-align: center;
}

.heroBody{
  color: $primary-90;
  text-align: center;
  max-width: 700px;
  margin: 1.5rem 0;
}

.buttonGroup {
  @include flex(row, center, space-between);
  width: 320px;

  button {
    width: 150px;

    &:first-child {
      @include button-variant(light, filled);
    }

    &:last-child {
      @include button-variant(light, outline);
    }
  }
}

.categoryCards {
  color: $primary-30;
  
  height: 100%;
  width: 100%;
  margin: 4rem 0;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.categoryCard {
  @include flex(column, center, start);
  background-color: $primary-90;
  column-span: 1;
  cursor: pointer;
  border-radius: 1.25rem;
  overflow: hidden;

  &:hover {
    .categoryImage {
      height: 40%;
    }

    .categoryDetails {
      @include flex(column, center, start);
      height: 60%;
      padding-top: 1.5rem;
    }
  }
}

.categoryImage {
  @include transition(all, 0.6s);
  background-color: red;
  object-fit: cover;
  height: 85%;
}

.categoryDetails {
  @include transition();
  @include flex(column);
  width: 100%;
  height: 15%;

  h2 {
    @include font($fs-lg, $fw-semibold);
  }
}