@use './styles/abstracts/index' as *;

.homePageContainer{
  @include flex(column, center, start);
  width: 100%;

  @include respond(laptop){
    padding: 0 1rem;
  }

  @include respond(mobile){
    padding: 0;
  }
}

.heroSection{
  @include flex(column, center, start);
  gap: 2.5rem;
  width: 100%;
  padding: 7rem 0;

  @include respond(tablet){
    padding: 5rem 0;
  }

  @include respond(mobile){
    padding: 3rem 0;
  }
}

.heroHeading{
  @include font(60px, $fw-semibold, 1.2);
  color: $primary-90;
  text-align: center;

  @include respond(tablet){
    font-size: $fs-3xl;
  }

  @include respond(mobile){
    font-size: $fs-2xl;
  }
}

.heroBody{
  color: $primary-90;
  text-align: center;
  max-width: 90%;

  @include respond(mobile){
    font-size: $fs-sm;
  }
}

.buttonGroup {
  @include flex(row, center, space-between);
  width: 100%;
  max-width: 320px;

  @include respond(laptop){
    display: none;
  }
}

.projectsButton{
  button{
    @include button-variant(light, filled);
    width: 150px;
  }
}

.resumeButton{
  button{
    @include button-variant(light, outline);
    width: 150px;
  }
}

// BENTO GRID ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
.homeBentoGrid{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(7, 172px);
  gap: 2rem;
  width: 100%;

  @include respond(tablet){
    grid-template-rows: repeat(7, 120px);
    gap: 1rem;
  }

  @include respond(mobile){
    grid-template-rows: repeat(7, 90px);
  }

  @include respond(mobileMd){
    grid-template-rows: repeat(12, 90px);
  }
}

.bentoCardStyles{
  text-decoration: none;
  padding: 1.5rem;
  border-radius: 1rem;
  overflow: hidden;
  @include transition();

  &:hover{
    transform: scale(1.05);
    filter: brightness(1.2);
  }
  @media(hover: none){
    &:hover{
      transform: scale(1);
      filter: brightness(1);
    }
  }

  @include respond(tablet){
    padding: 1rem;
  }
}

.webAppsCard{
  grid-column: span 4; 
  grid-row: span 2; 
  @extend .bentoCardStyles;
  //-------------------
  @include flex(column, center, end);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @include darkGradientBG();

  @include respond(mobileMd){
    grid-column: span 6; 
    grid-row: span 2;
  }
}

.websitesCard{
  grid-column: span 2; 
  grid-row: span 2; 
  @extend .bentoCardStyles;
  //-------------------
  @include flex(column, center, end);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @include darkGradientBG();

  @include respond(mobileMd){
    grid-column: span 6; 
    grid-row: span 2;
  }
}

.uxCasesCard{
  grid-column: span 3; 
  grid-row: span 2; 
  @extend .bentoCardStyles;
  //-------------------
  @include flex(column, center, end);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @include darkGradientBG();

  @include respond(mobileMd){
    grid-column: span 6; 
    grid-row: span 2;
  }
}

.logosCard{
  grid-column: span 3; 
  grid-row: span 2; 
  @extend .bentoCardStyles;
  //-------------------
  @include flex(column, center, end);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @include darkGradientBG();

  @include respond(mobileMd){
    grid-column: span 6; 
    grid-row: span 2;
  }
}

.aboutCard{
  grid-column: span 2; 
  grid-row: span 3; 
  @extend .bentoCardStyles;
  //-------------------
  @include flex(column, center, space-between);

  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.25)
  );

  @include glass();

  @include respond(mobileMd){
    grid-column: span 3; 
    grid-row: span 2;
  }
}

.allProjectsCard{
  grid-column: span 4; 
  grid-row: span 1; 
  @extend .bentoCardStyles;
  //-------------------
  @include flex(column, center, space-between);

  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.25)
  );

  @include glass();

   @include respond(mobileMd){
    grid-column: span 3; 
    grid-row: span 2;
  }
}

.resumeCard{
  grid-column: span 2; 
  grid-row: span 2; 
  @extend .bentoCardStyles;
  //-------------------
  @include flex(column, center, space-between);

  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.25)
  );

  @include glass();

   @include respond(mobileMd){
    grid-column: span 3; 
    grid-row: span 2;
  }
}

.contactCard{
  grid-column: span 2; 
  grid-row: span 2; 
  @extend .bentoCardStyles;
  //----------------------
  @include flex(column, center, space-between);

  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.25)
  );

  @include glass();

   @include respond(mobileMd){
    grid-column: span 3; 
    grid-row: span 2;
  }
}
// END OF BENTO GRID ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++


.iconContainer{
  @include flex(row, center, end);
  width: 100%;

  img{
    width: auto;
    object-fit: cover;

    @include respond(tablet){
      height: 3.25rem;
    }

    @include respond(mobile){
      height: 2rem;
    }

    @include respond(mobileMd){
      height: 2.5rem;
    }
  }
}

.cardText{
  width: 100%;
  color: $primary-90;
  @include font($fs-xl, $fw-semibold, 1.2);
  z-index: 1;

  @include respond(tablet){
    font-size: $fs-lg;
  }

  @include respond(mobile){
    font-size: $fs-base;
  }
}