@use './styles/abstracts/index' as *;

.homePageContainer{
  @include flex(column, center, start);
  height: 100%;
  width: 100%;
  padding-top: 2rem;
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-width: none;

  @include respond(laptop, portrait){
    padding-left: 3rem;
    padding-right: 3rem;
  }

  @include respond(tablet){
    padding-left: 3rem;
    padding-right: 3rem;
  }

  @include respond(mobile){
    padding-left: 0;
    padding-right: 0;
  }
}

.heroHeading{
  @include font($fs-3xl, $fw-semibold, 1.2);
  color: $primary-90;
  text-align: center;
  margin-bottom: 1.5rem;

  @include respond(laptop){
    font-size: $fs-2xl;
  }

  @include respond(tablet){
    @include font($fs-xl, $fw-semibold, 1.2);
  }

  @media(max-width: 365px){
    font-size: 1.55rem;
  }
}

.heroBody{
  color: $primary-90;
  text-align: center;
  max-width: 700px;
  margin-bottom: 1.5rem;

  @include respond(laptop, portrait){
    margin-bottom: 0;
  }

  @include respond(tablet){
    font-size: $fs-sm;
    margin-bottom: 0;
  }
}

.buttonGroup {
  @include flex(row, center, space-between);
  width: 100%;
  max-width: 320px;

  @include respond(laptop, portrait){
    display: none;
  }

  @include respond(tablet){
    display: none;
  }
}

.projectsButton{
  button{
    @include button-variant(light, filled);
    width: 150px;
  }
}

.resumeButton{
  button{
    @include button-variant(light, outline);
    width: 150px;
  }
}

.categoryCardContainer {
  flex: 1;
  width: 100%;
  margin: 3.5rem 0 2rem 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;

  @media(min-height:1200){
    grid-template-columns: repeat(2, 1fr);
    width: 70%;
  }

  @include respond(laptop, portrait){
    grid-template-columns: repeat(2, 1fr);
    margin: 2rem 0;
    gap: 1rem;
    width: 80%;
  }

  @include respond(tablet){
    grid-template-columns: repeat(2, 1fr);
    margin: 2rem 0;
    gap: 1rem;
    width: 100%;
  }

  @include respond(mobile){
    width: 100%;
  }
}

.categoryCard {
  @include flex(column, center, start);
  text-decoration: none;
  color: $primary-30;
  background-color: $primary-90;
  column-span: 1;
  height: 100%;
  min-height: 300px;
  cursor: pointer;
  border-radius: 0.5rem;
  overflow: hidden;

  &:hover {
    .categoryImage {
      height: 40%;
    }

    .categoryDetails {
      @include flex(column, center, space-between);
      height: 60%;
      padding: 1.5rem 0;
    }

    .categoryTools {
      @include flex(row);
    }
  }

  @media(hover: none){
    &:hover {
      .categoryImage {
        height: 80%;
      }

      .categoryDetails {
        @include flex(column);
        height: 20%;
        padding: 0;
      }

      .categoryTools {
        display: none;
      }
    }
  }

  @include respond(mobile){
    min-height: 0;
  }
}

.categoryImage {
  @include transition(all, 0.6s);
  object-fit: cover;
  height: 80%;
  width: 100%;

  @include respond(tablet){
    height: 75%;
  }
}

.categoryDetails {
  @include transition();
  @include flex(column);
  width: 100%;
  height: 20%;

  @include respond(tablet){
    height: 25%;
  }

  h2 {
    @include font($fs-lg, $fw-semibold);

    @include respond(tablet){
      font-size: $fs-md;
    }

    @media(max-width: 375px){
      font-size: $fs-sm;
    }
  }
}

.categoryTools {
  @include transition();
  display: none;
  padding-top: 1rem;
  flex-wrap: wrap;
  width: 70%;
}

.toolItem {
  padding: 0.7rem;
  margin: 0 0.5rem;
  border-radius: 0.6rem;
}