@use './styles/abstracts/index' as *;

.homePageContainer{
  @include flex(column, center, start);
  width: 100%;

  @include respond(laptop, portrait){
    padding-left: 3rem;
    padding-right: 3rem;
  }

  @include respond(tablet){
    padding-left: 3rem;
    padding-right: 3rem;
  }

  @include respond(mobile){
    padding-left: 0;
    padding-right: 0;
  }
}

.heroSection{
  @include flex(column, center, start);
  gap: 2.5rem;
  width: 100%;
  padding: 7rem 0;
}

.heroHeading{
  @include font(60px, $fw-semibold, 1.2);
  color: $primary-90;
  text-align: center;

  @include respond(laptop){
    font-size: $fs-2xl;
  }

  @include respond(tablet){
    @include font($fs-xl, $fw-semibold, 1.2);
  }

  @media(max-width: 365px){
    font-size: 1.55rem;
  }
}

.heroBody{
  color: $primary-90;
  text-align: center;
  max-width: 90%;

  @include respond(laptop, portrait){
    margin-bottom: 0;
  }

  @include respond(tablet){
    font-size: $fs-sm;
    margin-bottom: 0;
  }
}

.buttonGroup {
  @include flex(row, center, space-between);
  width: 100%;
  max-width: 320px;

  @include respond(laptop, portrait){
    display: none;
  }

  @include respond(tablet){
    display: none;
  }
}

.projectsButton{
  button{
    @include button-variant(light, filled);
    width: 150px;
  }
}

.resumeButton{
  button{
    @include button-variant(light, outline);
    width: 150px;
  }
}

// BENTO GRID ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
.homeBentoGrid{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(7, 172px);
  gap: 2rem;
  width: 100%;
}

.webAppsCard{
  grid-column: span 4; 
  grid-row: span 2; 
  padding: 1.5rem;
  @include flex(column, center, end);
  text-decoration: none;
  border-radius: 1rem;
  overflow: hidden;
  //-------------------
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @include darkGradientBG();

  @include transition();
  &:hover{
    transform: scale(1.05);
    filter: brightness(1.2);
  }
}

.websitesCard{
  grid-column: span 2; 
  grid-row: span 2; 
  @include flex(column, center, end);
  text-decoration: none;
  padding: 1.5rem;
  border-radius: 1rem;
  overflow: hidden;
  //-------------------
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @include darkGradientBG();

  @include transition();
  &:hover{
    transform: scale(1.05);
    filter: brightness(1.2);
  }
}

.uxCasesCard{
  grid-column: span 3; 
  grid-row: span 2; 
  @include flex(column, center, end);
  text-decoration: none;
  padding: 1.5rem;
  border-radius: 1rem;
  overflow: hidden;
  //-------------------
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @include darkGradientBG();

  @include transition();
  &:hover{
    transform: scale(1.05);
    filter: brightness(1.2);
  }
}

.logosCard{
  grid-column: span 3; 
  grid-row: span 2; 
  @include flex(column, center, end);
  text-decoration: none;
  padding: 1.5rem;
  border-radius: 1rem;
  overflow: hidden;
  //-------------------
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @include darkGradientBG();

  @include transition();
  &:hover{
    transform: scale(1.05);
    filter: brightness(1.2);
  }
}

.aboutCard{
  grid-column: span 2; 
  grid-row: span 3; 
  @include flex(column, center, space-between);
  text-decoration: none;
  padding: 1.5rem;
  border-radius: 1rem;
  overflow: hidden;
  //-------------------

  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.25)
  );

  @include glass();

  @include transition();
  &:hover{
    transform: scale(1.05);
    filter: brightness(1.3);
  }
}

.allProjectsCard{
  grid-column: span 4; 
  grid-row: span 1; 
  @include flex(column, center, space-between);
  text-decoration: none;
  padding: 1.5rem;
  text-decoration: none;
  border-radius: 1rem;
  overflow: hidden;
  //-------------------

  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.25)
  );

  @include glass();

  @include transition();
  &:hover{
    transform: scale(1.05);
    filter: brightness(1.3);
  }
}

.resumeCard{
  grid-column: span 2; 
  grid-row: span 2; 
  @include flex(column, center, space-between);
  text-decoration: none;
  padding: 1.5rem;
  border-radius: 1rem;
  overflow: hidden;
  //-------------------

  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.25)
  );

  @include glass();

  @include transition();
  &:hover{
    transform: scale(1.05);
    filter: brightness(1.3);
  }
}

.contactCard{
  grid-column: span 2; 
  grid-row: span 2; 
  @include flex(column, center, space-between);
  text-decoration: none;
  padding: 1.5rem;
  border-radius: 1rem;
  overflow: hidden;
  //----------------------

  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.25)
  );

  @include glass();

  @include transition();
  &:hover{
    transform: scale(1.05);
    filter: brightness(1.3);
  }
}
// END OF BENTO GRID ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++


.iconContainer{
  @include flex(row, center, end);
  width: 100%;
}

.cardText{
  width: 100%;
  color: $primary-90;
  font-size: $fs-xl;
  z-index: 1;
}