@use '../../styles/abstracts/index' as *;


.projectsContainer{
    @include flex(column, center, start);
    width: 100%; 
    // background-color: red;
}

.heroSection{
    @include flex(column, center, start);
    gap: 3rem;
    width: 100%;
    // background-color: red;
    padding-top: 4rem;
}

.heroHeading{
    @include font(3rem, $fw-semibold, 1.2);
    color: $primary-90;
    text-align: center;  
}


.projectCardsContainer{
    @include flex(column, center, start);
    width: 100%;

    .categoryDescription{
        color: $primary-90;
        margin-top: 3rem;
        margin-bottom: 4rem;

        @include respond(tablet){
            display: none;
        }
    }
}

.projectCardGrid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    @include respond(laptop){
        grid-template-columns: repeat(2, 1fr);
    }

    @include respond(tablet){
        grid-template-columns: repeat(1, 1fr);
    }
}

.projectCard{
    @include transition();
    grid-column: span 1;
    height: 500px;
    border-radius: 1rem;
    color: $primary-90;
    overflow: hidden;
    background: rgba(20, 20, 20, 0.5);
    backdrop-filter: blur(45px);
    box-shadow: 0px 1px 2px 0px;

    &:hover{
        transform: scale(1.2);
        color: $grey-20;
        box-shadow: 0px 4px 15px 0px;
        background-color: var(--hoverColor);

        .imageContainer{
            img{
                transform: scale(1.2);
            }
        }

        .projectLink{
            button{
                @include button-variant(dark, outline);
            }
        }
    }

    @media(hover: none){
        &:hover{
            box-shadow: 0px 1px 5px 0px;
            background-color: $primary-90;
        }
    }
}

.imageContainer{
    height: 40%;
    width: 100%;
    overflow: hidden;

    img{
        @include transition();
        // height: 100%;
        min-height: 100%;
        // width: 100%;
        object-fit: cover;
    }
}

.projectDetails{
    @include flex(column, start, space-between);
    height: 60%;
    padding: 1.25rem;
    // background-color: red;

    h3{
        @include font($fs-lg, $fw-semibold);
        margin-bottom: 0.75rem;

        @include respond(tablet){
            font-size: $fs-md;
        }
    }

    p{
        // @include font($fs-sm);
        overflow: hidden;
        // background-color: green;

        @include respond(tablet){
            display: none;
        }
    }
}

.projectLink{
    width: 100%;
    margin-top: 2rem;

    button {
        @include button-variant(light, outline);
        width: 100%;
    }
}