@use '../../styles/abstracts/index' as *;


.projectsContainer{
    @include flex(column, center, start);
    height: 100%;
    width: 100%;
    overflow: hidden;     
    overflow-y: scroll;   
    scrollbar-width: none;
    position: relative;   

    h1 {
        @include font($fs-xl, $fw-semibold, 1.2);
        width: 100%;
        color: $primary-30;
        text-align: right;
        padding-top: 2rem;
        margin-bottom: 2rem;

        @include respond(laptop, portrait){
            font-size: $fs-lg;
            margin-bottom: 1rem;
        }

        @include respond(tablet){
            font-size: $fs-lg;
            margin-bottom: 1rem;
        }

        @include respond(mobile){
            text-align: center;
        }
    }

    @include respond(laptop, portrait){
        padding-left: 3rem;
        padding-right: 3rem;
    }

    @include respond(tablet){
        padding-left: 3rem;
        padding-right: 3rem;
    }

    @include respond(mobile){
        padding-left: 0;
        padding-right: 0;
    }
}

.categoryNav{
    width: 100%;
    position: sticky;
    top: -1px;
    padding-top: 0;
    z-index: 3;

    @include respond(laptop, portrait){
        padding-top: 1rem;
    }

    @include respond(tablet){
        padding-top: 1rem;
    }
}

.projectCardsContainer{
    @include flex(column, center, start);
    flex: 1;
    min-height: 500px;
    width: 100%;
    padding: 2rem 1rem 0 1rem;
    // overflow: hidden;
    // overflow-y: scroll;
    scrollbar-width: none;

    .categoryDescription{
        margin-bottom: 2rem;

        @include respond(tablet){
            display: none;
        }
    }

    @include respond(tablet){
        padding: 2rem 0.5rem 0 0.5rem;

    }
}

.projectCardGrid{
    flex: 1;
    max-height: fit-content;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding-bottom: 2rem;
    align-items: start;

    @include respond(laptop){
        grid-template-columns: repeat(2, 1fr);
    }

    @include respond(tablet){
        grid-template-columns: repeat(1, 1fr);
    }
}

.projectCard{
    @include transition();
    column-span: 1;
    height: fit-content;
    border-radius: 0.5rem;
    color: $primary-30;
    overflow: hidden;
    background-color: $primary-90;
    box-shadow: 0px 1px 5px 0px;

    img{
        height: 12rem;
        width: 100%;
        object-fit: cover;

        @include respond(laptop){
            height: 15rem;
        }

        @include respond(tablet){
            height: 18rem;
        }

        @include respond(mobile){
            height: 12rem;
        }
    }

    &:hover{
        box-shadow: 0px 4px 15px 0px;
        background-color: var(--hoverColor);
    }

    @media(hover: none){
        &:hover{
            box-shadow: 0px 1px 5px 0px;
            background-color: $primary-90;
        }
    }
}

.projectDetails{
    @include flex(column, start);
    height: fit-content;
    padding: 1.25rem;

    h3{
        @include font($fs-lg, $fw-semibold);
        margin-bottom: 0.75rem;

        @include respond(tablet){
            font-size: $fs-md;
        }
    }

    p{
        @include font($fs-sm);
        height: 10rem;
        overflow: hidden;

        @include respond(tablet){
            display: none;
        }
    }
}

.projectLink{
    width: 100%;
    margin-top: 2rem;

    button {
        @include button-variant(dark, outline);
        width: 100%;
    }
}