@use '../../styles/abstracts/index' as *;


.headerContainer{
    @include flex(column, end);
    @include transition(max-width, 0.45s);
    position: fixed;
    margin-top: 1rem;
    width: 99%;
    max-width: 1300px;
    z-index: 999;

    @include respond(desktop){
        padding: 0 0.25rem;
    }

    &--projectPage {
        max-width: 1000px;
    }
}

.header {
    @include flex(row, center, space-between);
    @include transition();
    height: 4rem;
    width: 100%;
    padding: 0.6rem 1rem;
    border-radius: 1rem;

    background: rgba(20, 20, 20, 0.5); /* dark translucent tint */
    backdrop-filter: blur(25px);
    // -webkit-backdrop-filter: blur(40px);
    overflow: hidden; /* Required for border overlay */

    .resumeButton{
        button {
            @include button-variant(light, filled);
        }

        @include respond(tablet){
            display: none;
        }
    }
}

.header::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 1px; /* border thickness */
    border-radius: 1rem;
  
    background: linear-gradient(
      to top,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.25)
    );
  
    /* Mask trick to show only border */
    // -webkit-mask:
    mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;
  
    pointer-events: none;
}

.nav {
    @include flex(row, end, space-between);
    width: 400px;
    padding-bottom: 0.25rem;
    border-bottom: 1px solid $primary-90;
    // background-color: red;

    @include respond(tablet){
        display: none;
    }
}

.navLink{
    @include flex(row);
    @include transition();
    text-decoration: none;
    color: $grey-80;

    &:hover {
        transform: translateY(-5px) scale(1.25);
    }

    @media(hover: none){
        &:hover {
            transform: translateY(0) scale(1);
        }
    }
    
}

.navLinkActive{
    @include flex(row);
    @include transition();
    text-decoration: none;
    font-weight: $fw-semibold;
    transform: translateY(-5px) scale(1.25);
    color: $primary-90;
    pointer-events: none;
}

.mobileMenuToggle {
    display: none;
    @include button-variant(light, outline);

    @include respond(tablet){
        display: block;
    }
}

.mobileNav{
    @include flex(column, center, space-between);
    @include transition();
    position: absolute;
    top: 4rem; // Height of the header
    right: 0.5rem;
    height: 400px;
    width: 250px;
    margin-top: 1rem;
    padding: 1.5rem 1rem;
    border-radius: 1rem;
    box-shadow: 0px 1px 10px 0px;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transform: translateX(50px);

    background: rgba(20, 20, 20, 0.7);
    @include glass();

    &.open {
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
        transform: translateX(0);
    }

    .navLink {
        width: 90%;
        padding: 1.25rem;
        justify-content: left;
    }
}

.mobileNavCta{
    width: 100%;
    border-top: 2px solid $primary-90;
    padding-top: 1.5rem;

    button {
        @include button-variant(light, outline);
        width: 100%;
    }
}