@use '../../styles/abstracts/index' as *;


.headerContainer{
    @include flex(column, end);
    position: fixed;
    width: 100dvw;
    max-width: 1464px;
    padding: 0 2rem;
    z-index: 999;
}

.header {
    @include flex(row, center, space-between);
    @include transition();
    height: 4rem;
    width: 100%;
    padding: 0.6rem 0;


    &--light {
        border-bottom: 2px solid $primary-90;

        button {
            @include button-variant(light, outline);
        }

        .navLink{
            color: $primary-90;
        }

        .navLinkActive{
            background-color: $primary-90;
            color: $primary-30;
        }
    }

    &--dark {
        border-bottom: 2px solid $primary-10;

        button {
            @include button-variant(dark, outline);
        }
    }
}

.demoLogo {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    background-color: $primary-90;
}

.nav {
    @include flex(row, center, space-between);
    width: 500px;

    @include respond(tablet){
        display: none;
    }
}

.navLink{
    @include flex(row);
    @include transition();
    text-decoration: none;
    color: $primary-30;
    width: 5rem;
    height: 30px;

    &:hover {
        background-color: $primary-70;
        color: $primary-90;
    }

    @media(hover: none){
        &:hover {
            background-color: none;
            color: $primary-30;
        }
    }
    
}

.navLinkActive{
    @extend .navLink;
    background-color: $primary-10;
    color: $primary-90;
    font-weight: $fw-semibold;
    pointer-events: none;
}

.mobileMenuToggle {
    display: none;

    @include respond(tablet){
        display: block;
    }
}

.mobileNav{
    @include flex(column, center, space-between);
    @include transition();
    position: absolute;
    top: 4rem; // Height of the header
    background-color: $primary-90;
    height: 400px;
    width: 250px;
    margin-top: 1rem;
    padding: 1.5rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 0px 1px 10px 0px;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transform: translateX(50px);

    &.open {
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
        transform: translateX(0);
    }

    .navLink {
        width: 90%;
        padding: 1.25rem;
        justify-content: left;
    }
}

.mobileNavCta{
    width: 100%;
    border-top: 2px solid $primary-10;
    padding-top: 1.5rem;

    button {
        @include button-variant(dark, outline);
        width: 100%;
    }
}