// primary palette
$primary-10: #000619;
$primary-30: #263259;
$primary-50: #455BA1;
$primary-70: #8293C9;
$primary-90: #EBEEFA;

// greys
$grey-20: #333333;
$grey-40: #666666;
$grey-60: #999999;
$grey-80: #CCCCCC;

$black: #000;
$white: #fff;
