@use './colors' as *;


// FLEX-BOX ===============================================================
@mixin flex($direction: column, $align: center, $justify: center) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}
//=========================================================================


// TRANSITIONS ============================================================
@mixin transition($prop: all, $time: 0.3s, $ease: ease-in-out) {
  transition: $prop $time $ease;
}
//=========================================================================


// BUTTON VARIANTS ============================================================
@mixin button-variant($theme: 'light', $type: 'filled') {
  @if $theme == 'light' {

    // Light__Filled --------------------------------
    @if $type == 'filled' {
      background-color: $primary-90;
      color: $primary-30;
      border: none;

      &:hover {
        background-color: $primary-70;
        color: $primary-90;
      }

      @media(hover: none){
        &:hover{
          background-color: $primary-90;
          color: $primary-30;
        }
      }

    // Light__Outline --------------------------------
    } @else if $type == 'outline' {
      background-color: transparent;
      color: $primary-90;
      border: 2px solid $primary-90;

      &:hover {
        color: $primary-70;
        border: 2px solid $primary-70;
      }

      @media(hover: none){
        &:hover{
          color: $primary-90;
          border: 2px solid $primary-90;
        }
      }
    }


  } @else if $theme == 'dark' {
    
    // Dark__Filled --------------------------------
    @if $type == 'filled' {
      background-color: $primary-10;
      color: $primary-90;
      border: none;

      &:hover {
        background-color: $primary-70;
        color: $primary-90;
      }

      @media(hover: none){
        &:hover{
          background-color: $primary-10;
          color: $primary-90;
        }
      }

    // Dark__Outline --------------------------------
    } @else if $type == 'outline' {
      background-color: transparent;
      color: $primary-10;
      border: 2px solid $primary-10;

      &:hover {
        color: $primary-70;
        border: 2px solid $primary-70;
      }

      @media(hover: none){
        &:hover{
          color: $primary-10;
          border: 2px solid $primary-10;
        }
      }
    }
  }
}
//=========================================================================