/* Type Scale */
$fs-3xl: 3.052rem;
$fs-2xl: 2.441rem;
$fs-xl: 1.953rem;
$fs-lg: 1.563rem;
$fs-md: 1.25rem;
$fs-base: 1rem;
$fs-sm: 0.8rem;
$fs-xs: 0.64rem;

/* Font Weights */
$fw-regular: 400;
$fw-semibold: 600;


// FONT MIXINS ====================================================

@mixin font($size, $weight: $fw-regular, $line-height: 1.5) {
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
  font-family: var(--font-outfit);
}

//=================================================================
